@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #DBFC77 !important;
    background-image: url("backGroundUni.jpg") !important;
    background-size: 100% 100%;
    background-position: bottom;
    padding: 0; 
}

#app {
    padding: 1em;
    font-family: 'Georama', sans-serif;
    color: #9F2146;
    background-color: transparent;
    font-weight: 300; 
}

.next-btn {
    transform: translate(700%, -50%) scale(1.3);
    border-radius: 15px  !important;
    border: none !important;
    box-shadow: 0 0 5px #000000 !important;
    background-color: #9F2146 !important;
    color: #fff;
    padding: 10px;
}

.emoji {
    width: 100px;
    display: block;
    font-size: 3em;
    text-align: center;
}

.emojis {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.span-text {
    font-weight: 500;
    display: block;
    font-size: .4em;
}

.slider-container {
    max-width: 550px;
    margin: 50px auto;
    position: relative;
    height: 50px;
  }
  .slider-track {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 8px;
    background: #ddd;
    transform: translateY(-50%);
  }
  .slider-thumb {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #9F2146;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
  }
  .slider-value {
    text-align: center;
    margin-top: 10px;
  }